<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <appender name="ES" class="com.internetitem.logback.elasticsearch.ElasticsearchAppender">
        <url>http://localhost:9200/_bulk</url>
        <index>logstash-k8s-juno-%date{yyyy.MM.dd}</index>
        <type>_doc</type>
        <errorsToStderr>true</errorsToStderr>
        <authentication class="com.internetitem.logback.elasticsearch.config.BasicAuthentication" /> <!-- optional -->
        <properties>
            <property><name>app</name><value>juno</value></property>
            <property><name>host</name><value>${HOSTNAME}</value><allowEmpty>false</allowEmpty></property>
            <property><name>thread</name><value>%thread</value></property>
            <property><name>logger</name><value>%logger</value></property>
            <property><name>level</name><value>%level</value></property>
            <property><name>stack_trace</name><value>%ex</value></property>
        </properties>
        <headers>
            <header><name>Content-Type</name><value>application/json</value></header>
        </headers>
    </appender>
    <appender name="ASYNC-ES" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ES" />
    </appender>


    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ASYNC-ES" />
        <!--<appender-ref ref="FILE" />-->
    </root>
</configuration>